/*=============================================
=                   GLOBALS                   =
=============================================*/
* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(1vw + 1vh);
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.window {
    border: 7px solid #39464e;
    position: fixed;
    height: 90%;
    width: 80%;
    min-height: 840px;
    min-width: 1200px;
}

main {
    height: 100vh;
    width: 100%;
    background-color: rgba(19, 88, 118, 0.849);
    box-shadow: inset 0 0 30px 25px rgba(0, 0, 0, 0.4);
}

#startWindow {
    visibility: visible;
    flex-direction: column;
    background-image: url(../images/misc/startBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

    #startTitle {
        height: 60%;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 3%;
    }

    #startBtnWrap {
        height: 40%;
        width: 50%;
    }

        #startButton {
            height: 20%;
            width: 20%;
            border: 5px outset #ff4500;
            background-color: orangered;
        }

        #startButton:hover {
            background-color: #ff8400;
            border: 5px outset #ff8400;
        }

        #startButton:active {
            box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.387);
        }

#gameWindow {
    flex-direction: row-reverse;
    visibility: hidden;
}

    #playerWindow {
        width: 30%;
        height: 100%;
    }

        #menuArea {
            height: 100%;
            width: 100%;
            flex-direction: column;
            border-left: 7px solid #39464e;
        }

            #equipContainer {
                height: 50%;
                width: 100%;
                flex-direction: column;
                border-bottom: 7px solid #39464e;
            }

                #equipmentHeader {
                    height: 10%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.75);
                    align-items: center;
                    justify-content: flex-start;
                }

                    #equipmentHeader>button {
                        border: none;
                        height: 100%;
                        width: 20%;
                        font-size: calc(.5vh + .5vw);
                        margin-right: 1%;
                    }

                    #equipmentHeader>button:hover {
                        box-shadow: inset 0 0 5px 3px rgba(195, 229, 229, 0.508);
                    }

                        #equipmentButton {
                            background-color: orangered;
                        }

                        #inventoryButton {
                            background-color: rgba(0, 0, 0, 0.75);
                        }

                #equipDisplay {
                    height: 100%;
                    width: 100%;
                }

                #playerEquipment {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    display: block;
                    background-color: #4e4b39;
                    box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.75)
                }
                
                #inventoryDisplay {
                    height: 100%;
                    width: 100%;
                    display: none;
                    background-color: #47394e;
                    box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.75)
                }

                        #inventoryHeader {
                            background-color: rgba(0, 0, 0, 0.75);
                            height: 10%;
                            width: 100%;
                            flex-direction: row;
                        }

                            #inventoryTitle {
                                font-size: calc(1vh + 1vw);
                                height: 100%;
                                width: 50%;
                            }

                            #weightContainer {
                                height: 100%;
                                width: 50%;
                            }

                        #inventorySpace {
                            height: 90%;
                            width: 100%;
                            background-color: #4e2c1a;
                            box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.75)
                        }

                

            #spellbookContainer {
                height: 50%;
                width: 100%;
                flex-direction: column;
            }

                #spellbookHeader {
                    background-color: rgba(0, 0, 0, 0.75);
                    height: 10%;
                    width: 100%;
                    justify-content: flex-start;
                }

                    #spellbookHeader>h3 {
                        font-size: calc(.75vh + .75vw);
                        margin-left: 3%;
                    }

                #spellbookDisplay {
                    height: 90%;
                    width: 100%;
                    background-color: #47394e;
                    box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.75)
                }           

    #storyWindow {
        height: 100%;
        width: 70%;
        flex-direction: column;
    }

        #imageArea {
            background-color: rgb(39, 155, 155);
            height: 100%;
            width: 100%;
        }

            #imageContainer {
                height: 100%;
                width: 100%;
                flex-direction: column;
            }

                #imageInfoBar {
                    width: 70%;
                    background-color: rgba(0, 0, 0, 0.5);
                    position: absolute;
                    top: 0;
                    justify-content: space-between;
                }

                    #roomName {
                        margin-left: 1%;
                    }

                    #roomCounter {
                        margin-right: 1%;
                    }

                #imageDisplay {
                    height: 100%;
                    width: 100%;
                    justify-content: flex-end;
                    align-items: flex-start;
                } 

                    #enemy {
                        height: 65%;
                        width: 40%;
                        flex-direction: column;
                        padding: 1%;
                        top: 5%;
                        position: absolute;
                        left: 12%;
                    }

                        #enemyInfo {
                            height: 15%;
                            width: 60%;
                            visibility: hidden;
                            flex-direction: column;
                        }

                            #enemyNameDisplay {
                                height: 65%;
                                width: 70%;
                                background-color: rgba(0, 0, 0, 0.5);
                                border-radius: 1vw;
                            }

                            #enemyHpBar {
                                width: 100%;
                                height: 35%;
                                border-radius: 1rem;
                                background-color: rgba(0, 0, 0, 0.5);
                                border: 7px double rgb(255, 255, 255);
                                justify-content: flex-start;
                                margin-top: 1%;
                            }

                            #enemyHpBarFill {
                                height: 100%;
                                width: 100%;
                                background-color: rgba(195, 40, 4, 0.85);
                                border-radius: calc(1vw);
                            }



                        #enemyDisplay {
                            height: 100%;
                            width: 90%;
                            margin-top: 3%;
                            border-radius: 50%;
                        }

                    #playerBarsContainer {
                        height: 55%;
                        width: 10%;
                        margin-top: 3%;
                        flex-direction: column;
                    }

                        #barsArea {
                            height: 95%;
                            width: 100%;
                        }
                    
                            .bars {
                                height: 92%;
                                width: 30%;
                                margin: 7%;
                                border: 7px double white;
                                background-color: rgba(0, 0, 0, 0.6);
                                border-radius: 1vw;
                                align-items: flex-end;
                            }

                                #hpBarFill {
                                    width: 100%;
                                    height: 100%;
                                    background-color: rgba(195, 40, 4, 0.85);
                                    border-radius: 1vw;
                                }

                                #manaBarFill {
                                    width: 100%;
                                    height: 100%;
                                    background-color: rgba(40, 105, 160, 0.85);
                                    border-radius: 1vw;
                                }
                        
                        #barsTitle {
                            height: 5%;
                            width: 100%;
                            flex-direction: row;
                        }

                            #barsTitle>div {
                                width: 50%;
                                font-size: calc(0.55vh + 0.55vw);
                            }

        #textArea {
            border-top: 7px solid #39464e;
            background-color: rgba(0, 0, 0, 0.618);
            height: 40%;
            width: 70%;
            bottom: 0;
            position: absolute;
            flex-direction: column;
            z-index: 1;
        }

            #infoArea {
                height: 100%;
                width: 100%;
            }

            #textContainer {
                height: 100%;
                width: 100%;
                flex-direction: column;
            }

                #textInfoBar {
                    background-color: rgba(0, 0, 0, 0.75);
                    height: 10%;
                    width: 100%;
                }

                    #playerInfo {
                        height: 100%;
                        width: 75%;
                        justify-content: flex-start;
                    }

                        #playerInfo>h2 {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            text-align: center;
                            font-size: calc(.75vh + .75vw);
                        }

                            #playerName {
                                padding-left: 1%;
                                width: 20%;
                            }

                            #playerLevel {
                                padding-left: 2%;
                                width: 10%;

                            }

                            #playerExpBarContainer {
                                height: 100%;
                                width: 70%;
                            }

                                #playerExpBar {
                                    height: 40%;
                                    width: 90%;
                                    border: 5px double;
                                    border-radius: 1vw;
                                    background-color: rgba(0, 0, 0, 0.75);
                                }

                                    #playerExpBarFill {
                                        background-color: rgba(0, 255, 191, 0.771);
                                        height: 100%;
                                        width: 100%;
                                        border-radius: 1vw;
                                    }

                    #gameClockDisplay {
                        height: 100%;
                        width: 25%;
                        justify-content: flex-end;
                        margin-right: 1%;
                    }

                    #gameClockDisplay>p {
                        font-size: calc(.5vh + .5vw);
                        color: yellow;
                    }

                    #currentTime {
                        font-size: calc(.5vh + .5vw);
                        margin-left: 1%;
                        color: yellow;
                    }

                #textContent {
                    height: 100%;
                    width: 100%;
                    padding: 1%;
                }

                    #textDisplay {
                        display: flex;
                        height: 100%;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                    }

                    #statsArea {
                        width: 30%;
                        height: 100%;
                        flex-wrap: wrap;
                    }

                        .stat {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            margin: 1.5%;
                            height: 27%;
                            width: 40%;
                        }

                #textControlBar {
                    height: 30%;
                    width: 100%;
                }

                    .controls {
                        height: 100%;
                        width: 100%;
                        border-radius: 0;
                        color: white;
                        border: 5px outset rgba(255, 68, 0, 0.5);
                        background-color: rgba(255, 68, 0, 0.5);
                    }

                    .controls:hover {
                        background-color: #ff840078;
                        border: 5px outset #ff840078;
                    }

                    .controls:active {
                        box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.387);  
                    }